@import url('../../../../common/vendor/bootstrap/3.2.0/css/bootstrap.css');
@import url('../../../common/css/bubble.css');
@import url('../../../common/css/callout.css');
@import url('../../../common/css/collapsible.css');
@import url('../../../common/css/layout.css');
@import url('../../../common/css/style.css');
@import url('../../../common/css/interactive.css');

body {
    background-image: url('cxa004_texture_50.png');

    background-repeat: repeat;
    background-position: center top;
    background-color: #CFD9B2;
}
