@import url('../../../../vendor/bootstrap/3.2.0/css/bootstrap.css');
@import url('../../../../common/css/bubble.css');
@import url('../../../../common/css/callout.css');
@import url('../../../../common/css/collapsible.css');
@import url('../../../../common/theme/web/css/layout.css');
@import url('../../../../common/theme/web/css/style.css');
@import url('../../../../common/css/interactive.css');

.dit {
    background-image: url('../../../../common/img/cxa004_texture_50.png');

    background-repeat: repeat;
    background-position: center top;
    background-color: #CFD9B2;
}


