/*CALLOUT BOXES*/
.callout {
    margin: 20px 0;
    padding: .8em;
    border-left: 3px solid #eee;
}

.callout h4, h5 {
    margin-top: 0;
    margin-bottom: 5px;
}

.callout-success {
    background-color: #E4E9A9;
    border-color: #99A411;
}

.callout-success h4,
.callout-success h5,
.callout-success strong {
    color: #636B06;
}

.callout-info {
    background-color: #CBD6E2;
    border-color: #5D7289;
}

.callout-info h4,
.callout-info h5,
.callout-info strong {
    color: #1E3A59;
}

.callout-warning {
    background-color: #FFE9B7;
    border-color: #FFB611;
}

.callout-warning h4,
.callout-warning h5,
.callout-warning strong {
    color: #A67506;
}

.callout-danger {
    background-color: #F1A7A7;
    border-color: #C40000;
}

.callout-danger h4,
.callout-danger h5,
.callout-danger strong {
    color: #7F0000;
}
