@import url('../../vendor/bootstrap/3.2.0/css/bootstrap.css');
@import url('font.css');
@import url('bubble.css');
@import url('callout.css');
@import url('collapsible.css');
@import url('layout.css');
@import url('style.css');
@import url('interactive.css');

body {
    background-image: url('../img/cxa004_texture_50.png');

    background-repeat: repeat;
    background-position: center top;
    background-color: #CFD9B2;
}


