@page {
    size: auto;   /* auto is the initial value */
}
@media print {
    body {
        font-size: 11px;
    }

    .logo-bdc {
        display: none;
        height: 0;
    }

    #bdc-content {
        border: 0;
        width:100%;
    }

    #bdc-legal {
        display: none;
        height: 0;
    }
}

