/*colours from http://www.utas.edu.au/library*/
/*blue 5D7289*/
/*red C40000*/
/*orange  FFB611*/
/*grey E5E6E8*/

/*colour from mylo*/
/*green 99A411*/
/*blue 1C4C7B*/

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    /* 	font-family: 'Open Sans', Arial, Helvetica, sans-serif;*/
}

#mph-header h1 {
    font-size: 3em;
}

#mph-header h2 {
    color: #999;
}

#utas-logo {
    background-color: #C40000;
    padding: 1em;
    /*margin: 1em;*/
    max-width: 165px;
    margin-bottom: 1em;
}

a {
    color: #6D96BD;
    text-decoration: none;
}

a:hover, a:focus {
    color: #23507B;
    text-decoration: underline;
}

a:active, a:hover {
    outline: 0;
}

/*CALLOUT BOXES*/
.bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}

.bs-callout h4, h5 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout-success {
    background-color: #E4E9A9;
    border-color: #99A411;
}

.bs-callout-success h4, h5 {
    color: #636B06;
}

.bs-callout-info {
    background-color: #CBD6E2;
    border-color: #5D7289;
}

.bs-callout-info h4, h5 {
    color: #1E3A59;
}

.bs-callout-warning {
    background-color: #FFE9B7;
    border-color: #FFB611;
}

.bs-callout-warning h4, h5 {
    color: #A67506;
}

.bs-callout-danger {
    background-color: #F1A7A7;
    border-color: #C40000;
}

.bs-callout-danger h4, h5 {
    color: #7F0000;
}

/*PANEL COLOUR OVERWRITES*/

/*utas grey*/
.panel-default {
    border-color: #E5E6E8;
}

.panel-default>.panel-heading {

    color: #000;
    background-color: #F2F2F3;
    border-color: #E5E6E8;
}

.panel-default.background-colour>.panel-body {
    background-color: #F8F8F9;
}

/*mylo blue*/
.panel-primary {
    border-color: #1C4C7B;
}

.panel-primary>.panel-heading {

    color: #092D50;
    background-color: #6D96BD;
    border-color: #1C4C7B;
}

.panel-primary.background-colour>.panel-body {
    background-color: #AAC5DE;
}

/*mylo green*/
.panel-success {

    border-color: #99A411;
}

.panel-success>.panel-heading {

    color: #636B06;
    background-color: #CAD26A;
    border-color: #99A411;
}

.panel-success.background-colour>.panel-body {
    background-color: #E4E9A9;
}

/*utas blue*/
.panel-info {
    border-color: #5D7289;
}

.panel-info>.panel-heading {
    color: #1E3A59;
    background-color: #A1B2C4;
    border-color: #5D7289;
}

.panel-info.background-colour>.panel-body {
    background-color: #CBD6E2;
}

/*utas yellow*/
.panel-warning {

    border-color: #FFB611;
}

.panel-warning>.panel-heading {
    color: #A67506;
    background-color: #FFD77C;
    border-color: #FFB611;
}

.panel-warning.background-colour>.panel-body {
    background-color: #FFE9B7;
}

/*utas red*/
.panel-danger {
    border-color: #C40000;
}

.panel-danger>.panel-heading {
    color: #7F0000;
    background-color: #E26565;
    border-color: #C40000;
}

.panel-danger.background-colour>.panel-body {
    background-color: #F1A7A7;
}

#mph-footer .caption {
    color: #E5E6E8;
    font-size: .8em;
}

#mph-main .caption {
    color: #999;
}

/*TABLE FIX*/

.table-bordered>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

/* rubrics */

#mph-main .rubric {
    font-size: 0.8em;
}

#mph-main .rubric td {
    vertical-align: top;
}

#mph-main .rubric dl,
.rubric ol,
.rubric ul {
    margin-top: 0.2em;
    margin-left: .8em;
    padding-left: 0em;
}

#mph-main .rubric dl dl,
.rubric dl ol,
.rubric dl ul,
.rubric ol dl,
.rubric ol ol,
.rubric dl ul,
.rubric ul dl,
.rubric ul ol,
.rubric ul ul, {
    margin-top: 0.2em;
    margin-left: 1.2em;
    padding-left: 0em;
}
