</div>
<!-- END col-lg-12 -->
</div>
<!--main -->
<div id="footer"
     class="row">
    <hr>
    <div class="col-sm-12">
        <div class="center-block text-center">
            <img src="https://dementia.health.utas.edu.au/templates/common/img/logos/UTAS_colour_domestic.png"
                 alt="University of Tasmania logo">
        </div>
    </div>
    <div class="col-lg-12">
        <p class="caption margin-top">
            Template provided by the <a href="mailto:Digital.Team@utas.edu.au?Subject=Components V3" target="_top">
            Digital Innovation Team</a></p>
    </div>
</div>
</div>
<!-- /container -->
</body>
</html>
