.caption {
    text-align: center;
}

.margin-left{
    margin-left: 1em;
}

.margin-right{
    margin-right: 1em;
}

.margin-bottom{
    margin-bottom: 1em;
}

.margin-top{
    margin-top: 1em;
}

#main {
    /*padding: 2em;*/

    /*border: 1px solid  #005f7d;*/
    background-color: #fff;
}

#footer {
    /*padding: 2em;*/
    /*border: 1px solid  #005f7d;*/
    background-color: #fff;
}

.media-object {
    width: 64px;
    height: auto;
}

/*panel colour overwrites*/

/*.panel {*/
/*margin-left: 8em;*/
/*margin-right: 8em;*/
/*}*/


 /*VIDEO*/



.vid-splash {
    cursor: pointer;
    border: 1px #666666 solid;
    width: 100%;
}

.youtube > img,
.youtube > iframe {
    border: 1px solid #d4d4d4;
    max-width: 620px;
    max-height: 350px;
}

.echo {

}

.pull-left.thumbnail {
margin-right:1em;
}

.pull-right.thumbnail {
margin-left:1em;
}

/* image responsive */
.pull-left.thumbnail img,
.media-object img {
    display: block;
    max-width: 100%;
    height: auto;
}

