<!DOCTYPE html><!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--><!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]--><!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/content/enforced/49909-NA_CAB_13YR_3753/template/pure/0.3.0/base-min.css">
    <link rel="stylesheet" href="/content/enforced/49909-NA_CAB_13YR_3753/template/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="/content/enforced/49909-NA_CAB_13YR_3753/template/css/font-awesome.min.css">
    <link rel="stylesheet" href="/content/enforced/49909-NA_CAB_13YR_3753/template/css/main.css">
    <link rel="stylesheet" href="/content/enforced/49909-NA_CAB_13YR_3753/template/css/print.css">

    <script src="/content/enforced/49909-NA_CAB_13YR_3753/template/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
<!--[if lt IE 7]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<div id="bdc-background">
    <div id="bdc-main" class="pure-g-r">
        <div id="bdc-header" class="pure-u-1">
            <div class="pure-g-r">
                <div class="pure-u-5-6">
                    <div id="bdc-title">
                        <h1>CAD004</h1>

                        <h2>Neurospeak - Understanding the nervous system</h2>

                    </div>
                </div>
                <div class="pure-u-1-6">
                    <div class="logo logo-bdc">
                        <img src="/content/enforced/49909-NA_CAB_13YR_3753/template/img/logos/Utas_vert(Rev)-1.png"/>
                    </div>
                </div>
            </div>
        </div>
        <div id="bdc-content" class="pure-u-1">
            <p><a href="https://mylo.utas.edu.au/d2l/le/content/49909/viewContent/1021673/View" target="_blank">Click
                here to view template examples and features in a new tab or window</a></p>

            <p>Copy and paste elements from the examples into you document.</p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                anim id est
                laborum. </p>

        </div>
        <div id="bdc-legal" class="pure-u-1">
            <div class="pure-g-r">
                <div class="pure-u-3-5">
                    <div class="logo logo-wicking">
                        <img src="/content/enforced/49909-NA_CAB_13YR_3753/template/img/logos/logo_wicking-red.png"/>
                    </div>
                </div>
                <div class="pure-u-2-5">
                    <div class="logo logo-fhs">
                        <img src="/content/enforced/49909-NA_CAB_13YR_3753/template/img/logos/utas_fohealth_horiz.png"/>
                    </div>
                </div>

                <div class="pure-u-1">
                    <p class="caption">Designed by Netty Gibson and coded by Ciarán O'Mara</p>
                </div>
                <div class="syndicates pure-u-1">
                    <a href="http://icondock.com/free/15-free-origami-icons" target="_blank">Icons by Double-J
                        Design</a> | <a href="http://fontawesome.io/" target="_blank">Font Awesome</a>
                </div>
            </div>
        </div>
        <!-- end bdc-legal -->
    </div>
    <!-- end main -->
</div>
<!-- end background -->
<script>window.jQuery || document.write('<script src="/content/enforced/49909-NA_CAB_13YR_3753/template/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="/content/enforced/49909-NA_CAB_13YR_3753/template/js/plugins.js"></script>
<script src="/content/enforced/49909-NA_CAB_13YR_3753/template/js/main.js"></script>
<script type="text/javascript" src="/content/enforced/49909-NA_CAB_13YR_3753/template/js/bdc-functions.js"></script>
<script src="/content/enforced/49909-NA_CAB_13YR_3753/template/js/stretchy.js"></script>
</body>
</html>
