@import url('../../../../../common/vendor/bootstrap/3.2.0/css/bootstrap.css');
@import url('../../../../common/css/bubble.css');
@import url('../../../../common/css/callout.css');
@import url('../../../../common/css/collapsible.css');
@import url('../../../../common/css/layout.css');
@import url('../../../../common/css/style.css');
@import url('../../../../common/css/interactive.css');

body {
/*    background-image: url('university-college-tile.png'); */ 
/* don't use a background pattern as this may be distracting for students with autism */

    background-repeat: repeat;
    background-position: center top;
    background-color: #E0F0DE !important;
}

#header img:first-of-type {
	margin-top:24px;
	height:50px;
}

