div.bubble {
    position: relative;
    margin: 1em;
    padding: 1.2em; /*needs to work with radius*/
    border-width: 3px;
    border-style: solid;
    -webkit-border-radius: 1.2em;
    -moz-border-radius: 1.2em;
    border-radius: 1.2em;
}

div.bubble:before, div.bubble:after {
    position: absolute;
    content: '';
    display: block;
    border-width: 3px;
    border-style: solid;
}

div.bubble p.speaker {
    font-size: .8em;
    margin: .4em;
    color: #595959;
}

div.bubble.left-top p.speaker,
div.bubble.top-left p.speaker,
div.bubble.bottom-left p.speaker {
    text-align: left;
}

div.bubble.right-top p.speaker,
div.bubble.top-right p.speaker,
div.bubble.bottom-right p.speaker {
    text-align: right;
}

div.bubble.top-center p.speaker,
div.bubble.bottom-center p.speaker {
    text-align: center;
}

div.bubble.red:before,
div.bubble.red:after,
div.bubble.red {
    border-color: #CD5257;
}

div.bubble.blue:before,
div.bubble.blue:after,
div.bubble.blue {
    border-color: #585AA8;
}

div.bubble.grey:before,
div.bubble.grey:after,
div.bubble.grey {
    border-color: #808080;
}

div.speech.top-left,
div.speech.top-center,
div.speech.top-right {
    margin-top: 50px; /*margin for top triangles */
}

div.speech:before,
div.speech:after {
    border-width: 19px;
}

/*TOP side*/
div.speech.top-left:before {
    left: 60px;
    top: -40px; /*before:border + padding - shaddow*/

    border-top-color: transparent;
    border-right-color: transparent;
}

div.speech.top-left:after {
    left: 63px;
    top: -32px; /*before:border + padding - shaddow (not sure what this equation is in actuallity)*/

    border-top-color: transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
    border-right-color: transparent;
}

div.speech.top-right:before {
    right: 60px;
    top: -40px; /*before:border + padding - shaddow*/

    border-top-color: transparent;
    border-left-color: transparent;

}

div.speech.top-right:after {
    right: 63px;
    top: -32px; /*before:border + padding - shaddow (not sure what this equation is in actuallity)*/

    border-top-color: transparent;
    border-bottom-color: #fff;
    border-left-color: transparent;
    border-right-color: #fff;
}

div.speech.top-center:before {
    border-width: 0 28px 28px;
    margin-left: -28px;
    top: -30px;
    left: 50%;

    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

div.speech.top-center:after {

    width: 0;
    z-index: 1;
    margin-left: -28px;
    top: -26px;
    left: 50%;

    border-width: 0 28px 28px;

    border-top-color: transparent;
    border-bottom-color: #fff;
    border-left-color: transparent;
    border-right-color: transparent;
}

/*bottom-side*/

div.speech.bottom-left,
div.speech.bottom-center,
div.speech.bottom-right {
    margin-bottom: 50px; /*margin for bottom triangles */
}

div.speech.bottom-left:before {
    left: 60px;
    bottom: -40px; /*before:border + padding - shaddow*/

    border-bottom-color: transparent;
    border-right-color: transparent;
}

div.speech.bottom-left:after {
    left: 63px;
    bottom: -32px; /*before:border + padding - shaddow (not sure what this equation is in actuallity)*/

    border-top-color: #fff;
    border-bottom-color: transparent;
    border-left-color: #fff;
    border-right-color: transparent;
}

div.speech.bottom-right:before {
    right: 60px;
    bottom: -40px; /*before:border + padding - shaddow*/

    border-bottom-color: transparent;
    border-left-color: transparent;

}

div.speech.bottom-right:after {
    right: 63px;
    bottom: -32px; /*before:border + padding - shaddow (not sure what this equation is in actuallity)*/

    border-top-color: #fff;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: #fff;
}

div.speech.bottom-center:before {
    margin-left: -28px;
    bottom: -30px;
    left: 50%;

    border-top-width: 28px;
    border-bottom-width: 0;
    border-left-width: 28px;
    border-right-width: 28px;

    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

div.speech.bottom-center:after {

    width: 0;
    z-index: 1;
    margin-left: -28px;
    bottom: -26px;
    left: 50%;

    border-top-width: 28px;
    border-bottom-width: 0;
    border-left-width: 28px;
    border-right-width: 28px;

    border-top-color: #fff;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

/*left-side*/
div.speech.left-top:before {
    top: 1.4em;
    left: -30px;
    border-width: 28px 28px 28px 0;

    border-top-color: transparent;
    border-bottom-color: transparent;
}

div.speech.left-top:after {
    top: 1.4em;
    left: -26px;

    border-width: 28px 28px 28px 0;

    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: #fff;
}

/*right-side*/
div.speech.right-top:before {
    top: 1.4em;
    right: -30px;
    border-width: 28px 0 28px 28px;

    border-top-color: transparent;
    border-bottom-color: transparent;
}

div.speech.right-top:after {
    top: 1.4em;
    right: -26px;

    border-width: 28px 0 28px 28px;

    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #fff;
    border-right-color: transparent;
}

/*Thought Bubbles*/

div.thought {
    margin-bottom: 3.8em;
}

div.thought:before, div.thought:after {
    background-color: #ffffff;
}

div.thought:before {
    -webkit-border-radius: 2.8em;
    -moz-border-radius: 2.8em;
    border-radius: 2.8em;
    bottom: -2.2em;
    width: 2.8em;
    height: 2.8em;
}

div.thought:after {
    -webkit-border-radius: 1.8em;
    -moz-border-radius: 1.8em;
    border-radius: 1.8em;
    bottom: -4em;
    width: 1.8em;
    height: 1.8em;
    z-index: 1;
    margin-bottom: 1em;
}

div.thought.top-center:before,
div.thought.bottom-center:before {
    margin-left: -2.8em;
    left: 50%;
}

div.thought.top-center:after,
div.thought.bottom-center:after {
    margin-left: -1.4em;
    left: 50%;
}

div.thought.top-left:before,
div.thought.bottom-left:before {
    left: 1.8em;
}

div.thought.top-left:after,
div.thought.bottom-left:after {
    left: 1em;
}

div.thought.top-right:before,
div.thought.bottom-right:before {
    right: 1.8em;
}

div.thought.top-right:after,
div.thought.bottom-right:after {
    right: 1em;
}
