@import url('font-awesome.min.css');
/* need font-awesome so we can add ticks and crosses */


.ui-sortable-handle {
    cursor: move;
}

.dit-drag-drop-group {
    min-height: 35px;
}

.dit-tab-panel .tab-container {
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
}

.dit-tab-panel .nav-tabs.nav-justified > li:first-child > a {
    border-bottom-left-radius: 4px;
}

.dit-tab-panel .nav-tabs.nav-justified > li:last-child > a {
    border-bottom-right-radius: 4px;
}

.dit-tab-panel .nav-tabs > li > a {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.dit-tab-panel .nav-tabs > li > a {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.dit-tab-panel .nav-tabs > li.active > a, .dit-tab-panel .nav-tabs > li.active ~ li > a {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.dit-tab-panel .tab-pane {
    padding: 15px;
}


/* editing and printing out tab panes */

#tinymce .dit-tab-panel .tab-pane {
    display: block !important;
}
@media print {
    .dit-tab-panel .tab-pane {
        display: block !important;
	}
}
@media print {
	.dit-tab-panel .tab-pane.dit-tab-1:before {
	    content: 'Tab 1';
	}
}

#tinymce .dit-tab-panel .tab-pane.dit-tab-1:before {
    content: 'Tab 1';
}
@media print {
	.dit-tab-panel .tab-pane.dit-tab-1:before {
		content: 'Tab 1';
	}
}


#tinymce .dit-tab-panel .tab-pane.dit-tab-2:before {
    content: 'Tab 2';
}
@media print {
	.dit-tab-panel .tab-pane.dit-tab-2:before {
		content: 'Tab 2';
	}
}


#tinymce .dit-tab-panel .tab-pane.dit-tab-3:before {
    content: 'Tab 3';
}
@media print {
	.dit-tab-panel .tab-pane.dit-tab-3:before {
		content: 'Tab 3';
	}
}



#tinymce .dit-tab-panel .tab-pane.dit-tab-4:before {
    content: 'Tab 4';
}

@media print {
	.dit-tab-panel .tab-pane.dit-tab-4:before {
		content: 'Tab 4';
	}
}


#tinymce .dit-tab-panel .tab-pane:before {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    font-size: 16px;
}


@media print {
	.dit-tab-panel .tab-pane:before {
	    display: block;
	    width: 100%;
	    border-bottom: 1px solid #ddd;
	    font-weight: bold;
	    font-size: 16px;
	}
}


#tinymce .dit-tab-panel .tab-pane p {
    border: 1px solid #ddd;
    min-height: 35px;
}

@media print {
	.dit-tab-panel .tab-pane p {
	    border: 1px solid #ddd;
	    min-height: 35px;
	}
}


/* adding ticks and crosses to sorting/grouping exercises, and adding hidden "alt-text" (font-size:0) for ticks and crosses */



tr.success[class^="dit-sortable-index"] td::after, .list-group-item-success::after{
   font-family: FontAwesome;
   content: "\f00c";
   display: inline-block;
   padding-right: 3px;
   padding-left: 3px;
   vertical-align: middle;
   color:green;
   float:right !important;
}


tr.danger[class^="dit-sortable-index"] td::after, .list-group-item-danger::after{
   font-family: FontAwesome;
   content: "\f00d";
   display: inline-block;
   padding-right: 3px;
   padding-left: 3px;
   vertical-align: middle;
   color:red;
   float: right !important;
}

.list-group-item-success::after, .list-group-item-danger::after{
	margin-top:-20px;
} 

tr.success[class^="dit-sortable-index"] td::before, .list-group-item-success td::before{
   font-family: FontAwesome;
   content: "correct: ";
   font-size:0px;
}
tr.danger[class^="dit-sortable-index"] td::before, .list-group-item-danger td::before{
   font-family: FontAwesome;
   content: "incorrect: ";
   font-size:0px;
}
