</div>
<!-- END col-lg-12 -->
</div>
<!--main -->
<div id="footer"
     class="row">
    <hr>
    <div class="col-sm-12">
    	<!-- temporary section during MyLO paste bug
    	<div class="center-block" style="max-width:700px; margin:auto;" >
    		<div class="callout callout-danger"> <div> <h4>NOTE: A recent MyLO update prevents formatted content being pasted into MyLO pages</h4> <div class="media"> <div class="pull-left media-object"> <div class="icon-attention_negative"><p class="zero-height"> </p></div> <p class="zero-height"> </p> </div> <div class="media-body"><p style="color:#333;">The MyLO team and ICB template developers are currently working on this issue.</p><p style="color:#333;">In the meantime, follow the instructions in <a href="http://blogs.utas.edu.au/teaching-at-tsbe/2016/11/25/using-the-icb-with-mylo-work-around/" target="blank">this work-around</a> to paste your components into MyLO pages</p><p style="color:#333;">Once you have 'embedded' a component in your page, you can edit it as you usually would.</p>
    		</div> </div> </div> </div>
    	</div>
    	<!-- end of temporary section -->

    	<!-- Alert for Chrome Flash Bug -->

		<div class="center-block" style="max-width:700px; margin:auto;" >
			<div class="callout callout-success">
				<div>
					<h4>'Copy to Clipboard' stopped working?</h4>
					<div class="media">
						<div class="pull-left media-object">
							<div class="icon-question">
								<p class="zero-height"> </p>
							</div>
							<p class="zero-height"> </p>
						</div>
						<div class="media-body">
							<p>Recent updates to both Chrome and Flash <span style="text-decoration:underline">may</span> cause the 'copy to clipboard' button to stop working for you.</p>
							<p>This can be fixed relatively easily.</p>
							<p>For infomation on the bugs and how to fix them see the <a href="https://health.utas.edu.au/templates/v3-at/custom/dit/copybug/copybug.html" target="_blank">Copy to Clipboard</a> bug page.</p>
							<p>Note that this message shows all the time. If you can see this message it <span style="text-decoration:underline">doesn't mean</span> that the button <span style="text-decoration:underline">has</span> stopped working for you. Use the menus above to choose a component to check if the button still works for you.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>


        <div class="center-block text-center">
            <img src="https://dementia.health.utas.edu.au/templates/common/img/logos/UTAS_colour_domestic.png"
                 alt="University of Tasmania logo">
        </div>
    </div>
    <div class="col-lg-12">
        <p class="caption margin-top">
            Template provided by the <a href="mailto:Digital.Team@utas.edu.au?Subject=ICB%20Components" target="_top">
            Digital Innovation Team</a></p>
    </div>
</div>
</div>
<!-- /container -->
</body>
</html>
