</div>
<!-- END col-lg-12 -->
</div>
<!--main -->
<div id="footer"
     class="row">
    <hr>
    <div class="col-sm-12">
    <div class="center-block" style="max-width:700px; margin:auto;" >
    	<p style="text-align:center;">Remember to read the <a href="https://health.utas.edu.au/templates/v3-at/common/instructions_for_staff-v3.html" target="_blank">Instructions for staff</a> for information on how to use the ICB.</p>
    </div>
<!-- Problem 20/1/2018 -->
<div class="center-block" style="max-width:700px; margin:auto;" >
	<div class="callout callout-danger">
    	<div>
    		<h4>NOTE: A recent MyLO update prevents ICB Components being pasted into MyLO from this tool.</h4>
    		<div class="media">
    			<div class="pull-left media-object">
    				<div class="icon-attention_negative">
    					<p class="zero-height"> </p>
    				</div>
    				<p class="zero-height"> </p>
				</div>
				<div class="media-body">
					<p style="color:#333;">The MyLO team and ICB template developers are currently working on this issue.</p>
					<p style="color:#333;">In the meantime, the MyLO Mate plugin for Chrome still allows you to paste ICB components into MyLO pages without a problem.</p>
					<p><strong>We therefore recommend that you use Chrome and the <em>MyLO Mate Extension for Chrome</em> to edit your MyLO pages.</strong></p>
					<p>Currently MyLO Mate is only available for Chrome. The MyLO Mate team are working on developing versions for other browsers.</p>
					<h4>To get MyLO Mate for Chrome:</h4>
					<ol>
						<li>Open (or <a href="https://www.google.com/chrome/">install</a>) Chrome.</li>
						<li>Go to the MyLO Mate website at: <a href="https://secure.utas.edu.au/faculty-of-health-intranet/mylo-resources/mylo-mate" target="_blank">https://secure.utas.edu.au/faculty-of-health-intranet/mylo-resources/mylo-mate</a>. Log in with your UTAS username (not email address) and password.</li>
						<li>Click the 'available here' link on the MyLO Mate page - this will take you to the MyLO Mate plugin page for Chrome.</li>
						<li>Click the 'Add extension' button.</li>
					</ol>

					<p>Now whenever you edit a page in MyLO, a panel will appear on the left of your screen from which you can choose ICB components to insert into your page. Just position your cursor on the page where you want to insert a component and browse to the relevant component in the list - click the component to insert it.
					</p>

					<p><strong>Note:</strong> MyLO Mate introduces a host of other tweaks to MyLO and MyLO manager, such as:
					<ul>
					<li>Highlighting in red/green/white units which are past/current/or future units</li>
					<li>Creating direct links to the assessment [a], turnitin [t], and other tabs or tools in the Assessments tool in MyLO and direct links to particular tools within a unit from MyLO Manager.</li>
					</ul>
					<p>You can configure these and many other options by clicking on the MyLO Mate icon at the top right of your Chrome browser (a small 'link' icon that is red when in MyLO or MyLO manager and grey at other times), choosing the 'options' link at the bottom of the panel that opens will allow you to turn on or off each of the MyLO Mate features independently.</p>

					<p>Thank you for your patience whilst we troubleshoot this issue with the ICB Componetnts tool, and we hope you enjoy using MyLO Mate!</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end Problem 20/1/2018 -->













        <!-- temporary section during MyLO paste bug
        <div class="center-block" style="max-width:700px; margin:auto;" >
            <div class="callout callout-danger"> <div> <h4>NOTE: A recent MyLO update prevents formatted content being pasted into MyLO pages</h4> <div class="media"> <div class="pull-left media-object"> <div class="icon-attention_negative"><p class="zero-height"> </p></div> <p class="zero-height"> </p> </div> <div class="media-body"><p style="color:#333;">The MyLO team and ICB template developers are currently working on this issue.</p><p style="color:#333;">In the meantime, follow the instructions in <a href="http://blogs.utas.edu.au/teaching-at-tsbe/2016/11/25/using-the-icb-with-mylo-work-around/" target="blank">this work-around</a> to paste your components into MyLO pages</p><p style="color:#333;">Once you have 'embedded' a component in your page, you can edit it as you usually would.</p>
            </div> </div> </div> </div>
        </div>
        <!-- end of temporary section -->

        <!-- Alert for Chrome Flash Bug -->

<!--

        <div class="center-block" style="max-width:700px; margin:auto;" >
            <div class="callout callout-success">
                <div>
                    <h4>New Version Released</h4>
                    <div class="media">
                        <div class="pull-left media-object">
                            <div class="icon-question">
                                <p class="zero-height"> </p>
                            </div>
                            <p class="zero-height"> </p>
                        </div>
                        <div class="media-body">
                            <p>An updated version of the ICB components page has now been released. This version addresses the issue with “Copy to Clipboard” functionality, as reported by some users. The use of Flash is no longer required.</p>
                            <p>For content development, this version of the Interactive Content Builder (ICB) supports the following web browsers:</p>
                            <ul>
                                <li>Google Chrome</li>
                                <li>Mozilla Firefox</li>
                                <li>Safari</li>
                            </ul>
                            <p>If you are using other browsers such as Internet Explorer, Microsoft Edge or Opera, or outdated versions of the supported browsers, we cannot guarantee full compatibility. </p>
                            <p><strong>Note that students are free to use all web browsers to view content and pages created with the ICB.</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="center-block" style="max-width:700px; margin:auto;" >
            <div class="callout callout-success">
                <div>
                    <h4>Content Greyed out in editing mode?</h4>
                    <div class="media">
                        <div class="pull-left media-object">
                            <div class="icon-question">
                                <p class="zero-height"> </p>
                            </div>
                            <p class="zero-height"> </p>
                        </div>
                        <div class="media-body">
                            <p>To help ensure that people don't paste or create content in the footer of a page, we've changed the style, to 'grey out' the footer in editing mode.</p>
                            <p>If some of your content appears underneath greyed-out regions when you are editing your content, then that content has been placed in a footer.</p>
                            <p>Just copy and paste the content that is in the greyed-out section into a 'normal' part of the page.
                            <p>Note that the 'greying-out' only appears in editing mode, and students will not see this effect when viewing the page.</p>
                            <p>If you need help editing a page where content has been pasted into a footer, (or you can't remove the shading despite moving your content out of the footer), please contact us.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

-->
        <div class="center-block text-center">
            <img src="https://dementia.health.utas.edu.au/templates/common/img/logos/UTAS_colour_domestic.png"
                 alt="University of Tasmania logo">
        </div>
    </div>
    <div class="col-lg-12">
        <p class="caption margin-top">
            Template provided by the <a href="mailto:Digital.Team@utas.edu.au?Subject=ICB%20Components" target="_top">
            Digital Innovation Team</a></p>
    </div>
</div>
</div>
<!-- /container -->
</body>
</html>
