/*colours from http://www.utas.edu.au/library*/
/*blue 5D7289*/
/*red C40000*/
/*orange FFB611*/
/*grey E5E6E8*/
/*colour from mylo*/
/*green 99A411*/
/*blue 1C4C7B*/

/*PANEL COLOUR OVERWRITES*/
/*utas grey*/
.panel-default {
    border-color: #E5E6E8;
}

.panel-default>.panel-heading {
    color: #000;
    background-color: #F2F2F3;
    border-color: #E5E6E8;
}

.bg-default {
    background-color: #F8F8F9;
}

/*mylo blue*/
.panel-primary {
    border-color: #1C4C7B;
}

.panel-primary>.panel-heading {
    color: #092D50;
    background-color: #6D96BD;
    border-color: #1C4C7B;
}

.bg-primary {
    background-color: #AAC5DE;
}

/*mylo green*/
.panel-success {
    border-color: #99A411;
}

.panel-success>.panel-heading {
    color: #636B06;
    background-color: #CAD26A;
    border-color: #99A411;
}

.bg-success {
    background-color: #E4E9A9;
}

/*utas blue*/
.panel-info {
    border-color: #5D7289;
}

.panel-info>.panel-heading {
    color: #1E3A59;
    background-color: #A1B2C4;
    border-color: #5D7289;
}

.bg-info {
    background-color: #CBD6E2;
}

/*utas yellow*/
.panel-warning {
    border-color: #FFB611;
}

.panel-warning>.panel-heading {
    color: #A67506;
    background-color: #FFD77C;
    border-color: #FFB611;
}

.bg-warning {
    background-color: #FFE9B7;
}

/*utas red*/
.panel-danger {
    border-color: #C40000;
}

.panel-danger>.panel-heading {
    color: #7F0000;
    background-color: #E26565;
    border-color: #C40000;
}
