@import url('../../common/css/main.css');

body {
    /* Storm */
    background-color: #A0A2B4;
}

#main h1, #main h2, #main h3 { 
	border-bottom-color: #ACADAD;
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 1px solid #eee;
}

#main .panel h1, #main .panel h2, #main .panel h3, #main h1.plain, #main h2.plain, #main h3.plain{

	padding-bottom: 0px;
	margin: 0px;
	border-bottom: none;
}