<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html class="no-js">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>
		template
	</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://dementia.health.utas.edu.au/templates/common/css/main.css" type="text/css"><!-- <link rel="stylesheet" href="../mph/v2/css/main.css" type="text/css"> -->

	<script src="https://dementia.health.utas.edu.au/templates/common/vendor/modernizr-2.6.2-respond-1.1.0.min.js" type="text/javascript">
	</script>
	<script src="https://dementia.health.utas.edu.au/templates/common/vendor/requirejs/2.1.11/require.min.js" data-main="https://dementia.health.utas.edu.au/templates/common/js/main" type="text/javascript">
	</script>
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
	your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
	improve your experience.</p>
<![endif]-->
<div id="container" class="container">
<div id="header" class="row">
	<div class="col-xs-12 visible-xs">
		<img class="center-block utas-logo" src="https://dementia.health.utas.edu.au/templates/common/img/logos/UTAS_Watermark_Transparent.png" alt="UTas logo" name="utas-logo" id="utas-logo">
	</div>
	<div class="col-sm-7">
		<h1>
			Digital Innovation Team
		</h1>
	</div>
	<div class="col-sm-5 hidden-xs text-right">
		<img class="pull-right utas-logo" src="https://dementia.health.utas.edu.au/templates/common/img/logos/UTAS_Watermark_Transparent.png" alt="UTas logo" name="utas-logo" id="utas-logo">
	</div>
	<div class="col-sm-12">
		<hr>
		<p>
			<a href="#">PDF version</a>
		</p>
	</div>
</div><!-- end header -->
<div id="main" class="row">
<div class="col-lg-12">
<h1>
	Instructions for staff
</h1>
<h2>
	Who this document is intended for
</h2>
<p>
	This document is designed to assist unit content developers in using web pages to deliver their content. No knowledge of web technologies is required; the instructions are provided below and, once mastered, creating and maintaining unit content should be as simple as updating Word documents.
</p>
<h2>
	How to use this document
</h2>
<p>
	This unit has been set up with some resources to help you start creating unit content.
</p>
<ul>
	<li>There is a <strong>content template</strong> that provides the framework for creating a new page, meaning that you don’t need to worry about how the page is presented. Using this template allows you to present content that is engaging, useable, and consistent across the unit.
	</li>
	<li>There is a <strong>components page</strong> where you can simply copy and paste content components into your page. Components include headings, images, tables, and activity boxes, for example. You can <a href="https://dementia.health.utas.edu.au/templates/mph/v2/components.html" target="_blank">access the components page (opens in a new tab or window)</a> at any time you require it.
	</li>
</ul>
<p>
	Once you have read and understood the instructions on this page, you may begin converting existing material to present in the content template, or you can create new material afresh.
</p>
<h2>
	
	Who to contact if you need help
</h2>
<p>
	The Digital Innovation Team designed and developed the content template and help resources, and are willing to assist you with any problems you encounter while developing and maintaining your online unit after you’ve read these instructions. Contact Tony.Carew@utas.edu.au in the first instance.
</p>
<h2>
	To create a new page based on the template
</h2>
<p>
	When you are ready to insert a page based on the template into the Content:
</p>
<ol start="1">
	<li>In the toolbox, go to <strong>Content</strong>
	</li>
	<li>Click the <strong>New</strong> button and select <strong>Create a File</strong>. This will open the content editor page.
	</li>
	<li>Click the <strong>Browse for a Template</strong> button near the top of the editor page.
	</li>
	<li>Browse to the file <em>template</em> &gt; <em>template.html</em>, and select it by clicking the button next to the file. Click the <strong>Add</strong> button. The template should appear in the content editor.
	</li>
	<li>Click the <strong>Change Path</strong> button at the bottom of the editor page, and select a sensible place to store your new file, preferably within the <em>Modules</em> folder or a subfolder within. Click <strong>Select Path</strong>.
	</li>
	<li>In the text box with the words ‘Enter a Title’, give the page a sensible name as you would for a file on your computer, i.e. a short name with no spaces, such as "Module1".
	</li>
	<li>Click the <strong>Save as Draft</strong> button to complete the process.<strong><br></strong>
	</li>
</ol>
<h2>
	
	Enter your content into the new page
</h2>
<p>
	You now have the bare bones of a new page, and you are ready to populate it with new or existing content.
</p>
<p>
	For convenience, the content template does provide common components that you can modify or delete without having to refer to the <a href="https://dementia.health.utas.edu.au/templates/mph/v2/components.html" target="_blank">components page</a>. If you want to add new components, copy then from the components page.
</p>
<ol start="1">
	<li>Delete the components that you wish to avoid using for this page. Ensure that you have selected the whole component (including the blank line above and below the component).
	</li>
	<li>Change the names of headings to something appropriate.
	</li>
	<li>For the remaining components, enter new text over the text that begins with ‘lorem ipsum’. If you are pasting text from Microsoft Word, you will need to use the <em style="line-height: 1.42857143;">Paste from Word</em> option:
	</li>
	<li style="list-style: none">
		<ol start="1">
			<li>Make sure that your cursor is in the place that you wish to insert the text.
			</li>
			<li>Click the Paste menu by clicking on the down arrow beside the <img title="paste" src="https://dementia.health.utas.edu.au/templates/common/img/d2l/paste.png" alt="paste" width="32" height="28"> icon.
			</li>
			<li>Choose the <strong style="line-height: 1.42857143;">Paste from Word</strong> option.
			</li>
			<li>Paste your content into the pane that appears.
			</li>
			<li>Click <strong style="line-height: 1.42857143;">Update</strong> to insert your content.
			</li>
		</ol>
	</li>
</ol>
<ol start="4">
	<li>When you have finished editing the page, choose the <strong>Save</strong> and/or <strong>Publish</strong> button to save your work.
	</li>
	<li>Give this page a friendly title by changing the text that you entered as a file name (it can have spaces now).
	</li>
</ol>
<p>
	To insert new components from the components page:
</p>
<ol>
	<li>Copy and paste elements from the components page into your new page. Make sure that you copy the blank line above and below the element you are copying.
	</li>
	<li>Once you are certain thatyou have completely finished editing the page, you may remove any additional blank lines between boxes, paragraphs headings, etc. if you wish. Once those blank lines are removed it can be tricky to insert new content between components.
	</li>
	<li>You can enter text directly in these additional components if you wish (you don't have to paste it from 'Word').
	</li>
</ol>
<p>
	Here are some tips to ensure that you create attractive and usable pages:
</p>
<ul>
	<li>The MyLO editor includes buttons and menus to easily apply headings, bullet points, italics and boldface etc. into your document.
	</li>
	<li>Please use headings levels to create headings and sub-headings etc., rather than modifying font-sizes and styles.
	</li>
	<li>Use heading 4 &amp; Heading 5 inside boxes (such as the "Reading" box).
	</li>
	<li>You can create links to (existing) Assignment Dropboxes, Discussion boards, Quizzes, Surveys and other content using the Quicklink button: <img title="quicklink" src="https://dementia.health.utas.edu.au/templates/common/img/d2l/link.png" alt="quicklink" width="22" height="24">, and browsing to the activity that you wish to link.
	</li>
</ul>
<h3>

	Inserting links
</h3>
<p>
	Unfortunately you can't just paste a link directly into these pages - it will look like it's worked, and may even colour the link as blue, but it won't actually work. Instead you need to manually insert each link as a Quicklink.
</p>
<ul>
	<li>Click the Quicklink icon <img title="quicklink" src="https://dementia.health.utas.edu.au/templates/common/img/d2l/link.png" alt="quicklink" width="22" height="24">, and select the <strong>Url</strong> option.
	</li>
	<li>You can insert the web address and the displayed name of the link in the dialogue box that opens.
	</li>
	<li>You should also select the <strong>New Window</strong> option.
	</li>
</ul>
<h3>

	Inserting pictures
</h3>
<p>
	Firstly, copy one of the three picture layouts (image centred; left with text to right; or right with text to left) from the components page, complete with the sample image <em>and</em> the surrounding sample text, into the place you want it in your page.
</p>
<p>
	To replace the sample image with your image:
</p>
<ol start="1">
	<li>Click on the sample image
	</li>
	<li>Click on the insert image button in the editor menu (<img title="image" src="https://dementia.health.utas.edu.au/templates/common/img/d2l/image.png" alt="image" width="20" height="23">)
	</li>
	<li>Browse to or drag and drop your image file into the file uploader section.
	</li>
	<li>Click the <strong>Choose Destination</strong> button, and select the Images folder (or a module folder if that makes more sense). Click on the <strong>Select a Path</strong> button.
	</li>
	<li>Click the <strong>Add</strong> button.
	</li>
	<li>Supply alternative text (for blind people), and click <strong>OK</strong>.
	</li>
	<li>You can re-size the image by clicking on it and dragging the corners.
	</li>
</ol>
<p>
	You can then replace any sample text (“Lorem ipsum”) with the text that you want.
</p>
<p>
	You can supply an image caption, or just delete it if it is not required.
</p>
<h3>
	
	Inserting Echo and YouTube Videos
</h3>
<p>
	The placeholder Echo or YouTube video can be copied from the <a href="https://dementia.health.utas.edu.au/templates/mph/v2/components.html" target="_blank">components page</a> into your page. Instructions on how to edit your copy to point to your video are included in that document, along with links to an FAQ page with step-by-step instructions. You may require assistance from the Digital Innovation Team to achieve this.
</p>
<h2>
	
	Some notes about pasting EndNote references from MS Word into this template
</h2>
<ul>
	<li>In-text citations inserted into MS word documents that are then pasted into this document should work correctly
	</li>
	<li>In Word, if one clicks on an in-text citation, the reader is taken to the corresponding citation in the reference/reading list. Currently the corresponding EndNote bookmarks are not copied from Word when references are pasted in to MyLO. We are working on a simple way to solve this problem, but may need to fix these links manually in the short term. Alternatively a student can just scroll to the bottom of the page to find the corresponding reference.
	</li>
</ul>
<h2>
	
	Printable version
</h2>
<p>
	You may notice that there is a 'PDF Version' link near the top of this document. This link will allow students (or staff) to retrieve an automatically generated PDF version of this document that is suitable for printing and use offline. This solution is not yet implemented but will be automatically applied to all pages using this template in mid-2014. Do not delete this link.
</p>
<div class="callout callout-danger">
	<h4>
		If something goes wrong with the page
	</h4>
	<p>
		Don't Panic.
	</p>
	<p>
		Sometimes (especially if you delete something, including an innocent looking blank line or space) the layout of the page goes awry.
	</p>
	<p>
		Contact the Digital Innovation Team if this happens.
	</p>
	<p>
		<strong>Remember to save your document frequently.</strong>
	</p>
</div>
<h2>
	Some guidance for content structure
</h2>
<ul>
	<li>All modules should start with a list of learning objectives.
	</li>
	<li>Please use the Reading, Discussion, Question, and Task  action boxes as appropriate. These can be copied from your provided template components.
	</li>
	<li>Please paste reading and reference lists (bibliographies) into a 'Reading' Box at the bottom of your document.
	</li>
	<li>After each reference is pasted into the reference list at the end of the document, please copy the "[Library CAMxxx Reading List]" or "[Library CAMxxx Text List]" link (as appropriate) at the end of the reference. You can copy the links included at the bottom of the template page. Don't forget to delete the links form the bottom of the template when you are ready publish your page.
	</li>
</ul>
</div><!-- END col-lg-12 -->
</div><!--main -->
<div id="footer" class="row">
	<hr>
	<div class="col-sm-12">
		<div class="center-block text-center">
			<img src="https://dementia.health.utas.edu.au/templates/common/img/logos/UTAS_colour_domestic.png"
				 alt="Faculty of Health logo">
			<img src="https://dementia.health.utas.edu.au/templates/common/img/logos/utas_fohealth_horiz.png"
				 alt="Faculty of Health logo">
		</div>
	</div>
	<div class="col-sm-12">
		<p class="caption">
			Provided by the Digital Innovation Team
		</p>
	</div>
</div>
</div><!-- /container -->
</body>
</html>
