.zero-height {
    height: 0px;
    margin: 0px;
    padding: 0px;
}

.caption {
    text-align: center;
    font-size: .8em;
}

.video .caption {
    margin-top: .4em;
    font-size: 1em;
}

.margin-left {
    margin-left: 1em;
}

.margin-right {
    margin-right: 1em;
}

.margin-bottom {
    margin-bottom: 1em;
}

.margin-top {
    margin-top: 1em;
}

#header {
    margin-top: 0px;
    padding: 2em;
}

#main {
    /*padding: 1.5em;*/
    padding: 2em;
    padding-left:60px;

    /*border: 1px solid  #005f7d;*/
    background-color: #fff;
}

div#main.row{
padding-top:1em;
}


#footer {
    /*padding: 2em;*/
    /*border: 1px solid  #005f7d;*/
    background-color: #fff;
}

#footer img {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 8px;
}

/*panel colour overwrites*/

/*.panel {*/
/*margin-left: 8em;*/
/*margin-right: 8em;*/
/*}*/

/*VIDEO*/

.video .embed-responsive {
    border: 0px #ddd solid; /* changed by RobC */
   border-radius: 0px;
}

.embed-responsive.embed-responsive-5by3 {
    padding-bottom: 62%;
}

.vid-splash {
    width: 100%;
}

.vid-splash {
    cursor: pointer;
    /*border: 1px #666666 solid;*/
    width: 100%;
}

/*.youtube > img,*/
/*.youtube > iframe {*/
    /*border: 1px solid #d4d4d4;*/
    /*max-width: 620px;*/
    /*max-height: 350px;*/
/*}*/

/*Panels*/

.panel {
    page-break:avoid;
    border-width: 1px;
    border-radius: 0px;

    /*    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);*/
    /*    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);*/
    /*    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);*/
}

.page-header {
    /*border-bottom-width: 2px;*/
}

.panel-heading {
    font-weight: 400;

    /* Sharp style has square edges on panels */
    /* over-ride border-radius properties on panel headings */
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);*/
}

.panel-title {
    font-size: 21px;
    display: inline-block;
    float: left;
    width:*;
}

.panel-body {
    /* sharp style has square edges on boxes */
    /* border-bottom-left-radius: 4px; */
    /* border-bottom-right-radius: 4px; */
}

/*fix backgrounds for panel bodies*/
.panel-body {
 /*Sharp style has square edges on boxes */
  /*border-bottom-left-radius: 4px; */
  /

}

.pull-left.thumbnail {
    margin-right: 1em;
}

.pull-right.thumbnail {
    margin-left: 1em;
}

.media > .pull-left {
    margin-right: 1em;
}

.media-object {
    width: 90px;
    height: auto;
}

.media-object > div {
    width: 90px;
    height: 90px;
}

.callout .media-object {
    width: 60px;
    height: auto;
}

.callout .media-object > div {
    width: 60px;
    height: 60px;
    background-size: contain;
}

/* image responsive */
.pull-left.thumbnail img,
.media-object img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*TABLE FIX*/
.table-bordered>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

/* rubrics */
.rubric {
    font-size: 0.8em;
}

.rubric td {
    vertical-align: top;
}

.rubric dl, .rubric ol, .rubric ul {
    margin-top: 0.2em;
    margin-left: .8em;
    padding-left: 0em;
}

.rubric dl dl, .rubric dl ol, .rubric dl ul, .rubric ol dl, .rubric ol ol, .rubric dl ul, .rubric ul dl, .rubric ul ol, .rubric ul ul {
    margin-top: 0.2em;
    margin-left: 1.2em;
    padding-left: 0em;
}

#footer img {
    height: 40px;
}

img.pull-left {
    margin-right: 1em;
}

img.pull-right {

    margin-left: 1em;
}

dl {
    margin-top: 2em;
    margin-bottom: 1.2em;
}

dl dt {
    margin-top: 1em;
}

dl dd {
    margin-left: 1.4em;
}


.pull-left .thumbnail,
.pull-right .thumbnail {
    margin-bottom:0px !important;
}

.img-left,
.img-right,
.img-center {
    margin-bottom: 1em;
}

.img-left a,
.img-right a,
.img-center a {
    word-wrap: break-word;
}

.img-left a,
.img-right a,
.img-center a,
.img-left img,
.img-right img,
.img-center img {
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
}

.img-left {
    margin-right: 1em;
    float: left;
    max-width: 40%;
}

.img-right {
    margin-left: 1em;
    float: right;
    max-width: 40%;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media screen and (max-width: 940px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
    .table-responsive > .table {
        margin-bottom: 0;
        /*max-width: 940px;*/
    }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
        /*white-space: nowrap;*/
        white-space: normal !important;
    }
    .table-responsive > .table-bordered {
        border: 0;
    }
    .table-responsive > .table-bordered > thead > tr > th:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child {
        border-left: 0;
    }
    .table-responsive > .table-bordered > thead > tr > th:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child {
        border-right: 0;
    }
    .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .table-responsive > .table-bordered > tfoot > tr:last-child > th,
    .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .table-responsive > .table-bordered > tfoot > tr:last-child > td {
        border-bottom: 0;
    }
}

.dit-spacer {
    width: 100%;
    margin: 0;
    padding: 0;
    clear:both;
}

.dit-spacer-small {
    height: 15px;
    line-height: 15px;
}
.dit-spacer-medium {
    height: 20px;
    line-height: 20px;
}
.dit-spacer-large {
    line-height: 30px;
     height: 30px;
 }
 
/** Sharp style 'adjustments' **/

/* no coloured background borders on the left/right of the page */
#container {
   margin:0;
   width:100%;
 }



/* Header: make the header narrower,(vertically),
   but use all of the horizontal space,
   and the Code and title float next to each other 
   with the print link on the right of the page
   and no logo
*/

/* prevent the UTAS logo from showing*/
 #header > div:first-child img{
   display:none;
 }
 
 /* use full width of page  for header */
 #header {
    padding:0px;
 }

/*float the div containing the unit code and title to the left and the print link to the right */
/* div with unit tilte & code to the left: */
#header > div:first-child {
     display:inline-block;
     float: left;
     width:auto;
 }
/* print link to the right:*/
 
 a.pdf-link{ 
   width:100px;
   color: #428bca;
   display: inline-block;
   margin-left: 1em;
   margin-top:.75em;
   float:right;
 }

/* float the unit code and title next to each other, align them sensibly */
 #header h1{
     font-family: "omnes-pro", sans-serif;
     font-size: 2em;
     font-weight: 300;
     display: inline-block;
     float: left;
     margin-top: 0;
     line-height: normal;
     vertical-align: bottom;
     padding-right: 1em;
     margin-bottom:5px;
 }
 
 #header h2 {
     font-family: "proxima-nova", sans-serif;
     font-weight: 100;
     font-size: 1.5em;
     display: inline-block;
     float: left;
     vertical-align: bottom;
     line-height: 1.7em;
     margin-bottom:5px;
}





/*footer adjustments */


/* hide the faculty of xxx image, but leave the utas image */
#footer img:nth-of-type(2) {
 display:none;
 }
  /** disable the hyperlink on the DIT email **/
#footer .caption a {
  pointer-events:none;
  color: #595959;
  text-decoration:none;
  font-style:italic;  
 }
 
 
 /* bits copied out of TSBE MBA stylesheet */
 
 
 
 body > p:first-child{
   display:none;
 }



  
 #tinymce #main {
 
  border: 4px solid red;
  padding: 2px;
 }
 #tinymce #header:after {
  content: "  Make sure your page content is inserted inside this red box";
  padding-left:30px;
  color:#FF0000;
}
