@import url('../../../../../common/vendor/bootstrap/3.2.0/css/bootstrap.css');
@import url('../../../../common/css/bubble.css');
@import url('../../../../common/css/callout.css');
@import url('../../../../common/css/collapsible.css');
@import url('../../../../common/css/layout.css');
@import url('../../../../common/css/style.css');
@import url('../../../../common/css/interactive.css');

body {
    background-image: url('bioscience-bg.png');
    background-repeat: repeat;
    background-position: center top;
    background-color: 	#FABF8F !important;

   
}

#header {
    color: black;
    text-align: left;
    background: #FABF8F;  /* for IE 6-9 */
    background: -webkit-linear-gradient(60deg, #FFC494 55%, #FFC999 45%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(60deg, #FFC494 55%, #FFC999 45%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(60deg,#FFC494 55%, #FFC999 45%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(60deg, #FFC494 55%, #FFC999 45%); /* Standard syntax (must be last) */
    /*padding:10px;*/
}
#header img{
  height:60px;
  }
#header h1{
padding-top:10px;
}
a.pdf-link {
color:black;
}

