#container {
    margin-top: 44px;
    margin-bottom: 36px;
    -webkit-box-shadow: 0px 0px 140px 80px rgba(255, 255, 255, .30);
    -moz-box-shadow: 0px 0px 140px 80px rgba(255, 255, 255, .30);
    box-shadow: 0px 0px 140px 80px rgba(255, 255, 255, .30);
}

#header {
    color: white;
    text-align: left;

    background: -webkit-linear-gradient(60deg, #616363 55%, #666868 45%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(60deg, #616363 55%, #666868 45%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(60deg, #616363 55%, #666868 45%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(60deg, #616363 55%, #666868 45%); /* Standard syntax (must be last) */
}

a {
    text-decoration: underline;
     word-wrap: break-all;
    word-wrap: break-word;
}

a.pdf-link {
    color:white;
    display:block;
    margin-left:1em;
}

#header img {
    margin-top: 1em;
    margin-bottom: 1em;
}

#header .text-right img {
    margin-right: 1em;
}

h1,
.h1 {
    font-size: 28px;
}
h2,
.h2 {
    font-size: 24px;
}
h3,
.h3 {
    font-size: 20px;
}
h4,
.h4 {
    font-size: 16px;
    font-weight: bold;
}
h5,
.h5 {
    font-size: 14px;
    font-weight: bold;
}
h6,
.h6 {
    font-size: 9px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "proxima-nova", sans-serif;
    /*font-weight: 500;*/
}


#header{
padding-top:1em;
padding-bottom:1em;
}

#header h1 {
    font-family: "omnes-pro", sans-serif;
    /*margin-top: .2em;*/
    /*margin-bottom: 0.2em;*/
    font-size: 2em;
    font-weight: 300;
}

#header h2 {
    font-family: "proxima-nova", sans-serif;
    font-weight: 100;
    font-size: 1.5em;
}


.utas-logo {
    /* background-color:#C40000;*/
    padding: 1em; /*margin:1em;*/
    margin: 1em;
}

.page-header {
    border-bottom-color: #ACADAD;
     margin-top:20px;
        margin-left:0px;
        margin-bottom:20px;
    margin-right:0px;
}

div#main.row .page-header::first-of-type{ /* remove extra padding for headings at the top of pages */
	margin-top:0px;
	}

/* PANELS */
.panel {
    border-width: 1px;
    border-color: #B3B3B3;
    border-radius: 0;
    box-shadow: none;
    background-color: #ffffff;
}

.panel-default > .panel-heading {
    background-color: #B3B3B3;
}

.panel-info > .panel-heading, .panel-warning > .panel-heading, .panel-info, .panel-warning {
    border: none;
    background-color: #F5F5F5;
}

.panel-assessmentItem, .panel-activity, .panel-calendar, .panel-discussion, .panel-experiment,
.panel-learningOutcomes, .panel-lecture, .panel-question, .panel-quiz, .panel-reading,
.panel-reflection, .panel-survey, .panel-thoughtTree {
    border: none;
    background-color: #F5F5F5;
}

.panel .panel-heading {
    border-radius: 0;
}

.panel-title {
    color: #000000;
}

.panel-calendar > .panel-heading {
    background-color: #AE425D;
}

.panel-calendar .panel-title {
    color: #ffffff;
}

.icon-calendar {
    background-image: url('../icons/calendar.png');
}

.panel-quiz  > .panel-heading {
    background-color: #D55222;
}

.panel-quiz .panel-title {
    color: #ffffff;
}

.icon-quiz {
    background-image: url('../icons/quiz.png');
}

.panel-learningOutcomes > .panel-heading {
    background-color: #C4A673;
}

.icon-learningOutcomes {
    background-image: url('../icons/learning_outcomes.png');
}

.panel-survey > .panel-heading {
    background-color: #357D7C;
}

.panel-survey .panel-title {
    color: #ffffff;
}

.icon-survey {
    background-image: url('../icons/survey.png');
}

.panel-activity > .panel-heading {
    background-color: #60705B;
}

.panel-activity  .panel-title {
    color: #ffffff;
}

.icon-activity {
    background-image: url('../icons/activity.png');
}

.panel-discussion > .panel-heading {
    background-color: #385A6E;
}

.panel-discussion .panel-title {
    color: #ffffff;
}

.icon-discussion {
    background-image: url('../icons/discussion.png');
}

.panel-reading > .panel-heading {
    background-color: #537D86;
}

.panel-reading .panel-title {
    color: #ffffff;
}

.icon-reading {
    background-image: url('../icons/reading.png');
}

.panel-assessmentItem  > .panel-heading {
    background-color: #B3B3B3;
}

.icon-assessmentItem {
    background-image: url('../icons/assessment_item.png');
}

.panel-experiment > .panel-heading {
    background-color: #364A5E;
}

.panel-experiment .panel-title {
    color: #ffffff;
}

.icon-experiment {
    background-image: url('../icons/experiment.png');
}

.panel-reflection  > .panel-heading {
    background-color: #C095A1;
}

.icon-reflection {
    background-image: url('../icons/reflection.png');
}

.panel-question > .panel-heading {
    background-color: #976CAC;
}

.panel-question .panel-title {
    color: #ffffff;
}

.icon-question {
    background-image: url('../icons/single_question.png');
}

.panel-lecture > .panel-heading {
    background-color: #58A1D8;
}

.icon-lecture {
    background-image: url('../icons/lecture.png');
}

.panel-thoughtTree .panel-heading {
    background-color: #A99185;
}

.icon-thoughtTree {
    background-image: url('../icons/decision_tree.png');
}

.panel-warning {
    border-color: #F8CB00;
}

.panel-warning > .panel-heading {
    background-color: #FCDF86;
}

.bg-warning {
    background-color: #FEF4DA;
}

.panel-info {
    border-color: #00568A;
}

.panel-info > .panel-heading {
    background-color: #758FB6;
}

.bg-info {
    background-color: #D3D7E7;
}

.bg-danger {
    background-color: #F1A7A7;
}

.caption {
    color: #999;
}

/*CALLOUT BOXES*/
.callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}

.callout h4, h5 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 17px;
}

.callout-success {
    background-color: #D8E6B0;
    border-color: #95C11E;
}

.callout-success h4,
.callout-success h5,
.callout-success strong {
    color: #000;
}

.icon-attention_positive {
    background-image: url('../../../img/icons/icon-attention_positive.png');
}

.callout-info {
    background-color: #CBD6E2;
    border-color: #5D7289;
}

.callout-info h4,
.callout-info h5,
.callout-info strong {
    color: #1E3A59;
}

.callout-warning {
    background-color: #FFE9B7;
    border-color: #FFB611;
}

.callout-warning h4,
.callout-warning h5,
.callout-warning strong {
    color: #000;
}

.callout-danger {
    background-color: #E4A9A6;
    border-color: #BE1621;
}

.callout-danger h4,
.callout-danger h5,
.callout-danger strong {
    color: #000;
}

.icon-attention_negative {
    background-image: url('../../../img/icons/icon-attention_negative.png');
}

#footer .caption {
    color: #E5E6E8;
    font-size: .8em;
}

/* quotes,fancy quotes and citations */
blockquote {
    /* over-ride the bootstrap blockquoute styling */
    border: none !important;
    font-weight: normal;
    font-size: inherit;
}

blockquote.mark {
    quotes: "\201C" "\201D";
}

blockquote.mark {
    font-style: italic;
    display: inline-block;
    padding-top: .9em;
    padding-left: 2.2em;
    padding-right: 2.2em;
    padding-bottom: .0em;
    background: url(../../../img/quote-open.png) top left no-repeat, url(../../../img/quote-close.png) bottom right no-repeat;
}

cite {
    color: #999;
    font-size: 0.6em;
    display: block;
    margin-top: 0.1em;
    text-align: right;
}

blockquote.mark + cite:before {
    content: "\2014 \2009";
}

.nav a {
    text-decoration: none;
}

.dit-spacer {
    background-color: #D3D7E7;
    font-size: 10px;
}

.dit-spacer.invisible {
    visibility: hidden;
}


.printonly{
	display:none;
}

@media print {
	.icon-calendar:before {
	content: url(../icons/calendar.png);
	}

	.icon-quiz:before {
	content: url(../icons/quiz.png);
	}

	.icon-learningOutcomes:before {
	content: url(../icons/learning_outcomes.png);
	}

	.icon-survey:before {
	content: url(../icons/survey.png);
	}

	.icon-activity:before {
	content: url(../icons/activity.png);
	}

	.icon-discussion:before {
	content: url(../icons/discussion.png);
	}

	.icon-reading:before {
	content: url(../icons/reading.png);
	}

	.icon-assessment-icon:before {
	content: url(../icons/assessment_item.png);
	}

	.icon-experiment:before {
	content: url(../icons/experiment.png);
	}

	.icon-reflection:before {
	content: url(../icons/reflection.png);
	}

	.icon-question:before {
	content: url(../icons/single_question.png);
	}

	.icon-lecture:before {
	content: url(../icons/lecture.png);
	}

	.icon-thoughtTree:before {
	content: url(../icons/decsisoin_tree.png);
	}

	.icon-attention_positive:before {
	content: url(../../../img/icons/icon-attention_positive.png);
	}

	.icon-attention_negative:before {
	content: url(../../../img/icons/icon-attention_negative.png);
	}

	.video-youtube iframe::after {
		content: attr(src);
	}
	.p {
		page-break:avoid;
	}
	.panel {
		page-break:avoid;
	}

	.printonly {
		display:block;
	}
	.embed-responsive{
		display: none;
	}

}
