@charset "utf-8";
/* CSS Document */

/***************************************************************/
/*                        latofonts.css                        */
/*                                                             */
/*  This stylesheet loads the Lato Fonts package               */
/*                                                             */
/* July 29 2016                                                */
/* Jeremy O'Reilly                                             */
/* Univesrsity of Tasmaia                                      */
/***************************************************************/


/***************************************************************/
/*                                                             */
/*                      font information                       */
/*                                                             */
/* Lato 2.0 font set created by Łukasz Dziedzic                */
/* Source:  http://www.latofonts.com/                          */
/* Licensce SIL Open Font Licence, Version 1.1                 */
/* Licence url http://scripts.sil.org/OFL                      */
/*                                                             */
/* Note: woff2 formats not supported by D2L platform - not     */
/*       loaded to platform.                                   */
/*                                                             */
/***************************************************************/


/* Webfont: Lato-Regular */
@font-face {
    font-family: 'LatoWeb';
    src: url('Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;	
}


/* Webfont: Lato-Bold */
@font-face {
    font-family: 'LatoWeb';
    src: url('Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('fLato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fLato-Bold.woff') format('woff'), /* Modern Browsers */
         url('Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BoldItalic */
@font-face {
    font-family: 'LatoWeb';
    src: url('Lato-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('Lato-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}


/* Webfont: Lato-Italic */
@font-face {
    font-family: 'LatoWeb';
    src: url('latoweb/Lato-Italic.eot'); /* IE9 Compat Modes */
    src: url('Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Lato-Italic.woff') format('woff'), /* Modern Browsers */
         url('Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


html, body {
  overflow-x: hidden;
  background:#ffffff;
  font-family: 'LatoWeb';

}

#tinymce body  {
	
}
/*********************************************************************/
/*                              printonly class                      */
/*                                                                   */
/*     This class is used to hide elements that are designed         */
/*     only to be seen when printed.  Such elements exist where      */
/*     a subsitition would be requried for print media that are      */
/*     dynamically generated or displayed for screen media           */
/*                                                                   */
/*********************************************************************/

.printonly{
	display:none;
}

